<!DOCTYPE html>
<html>
<head>
	<title>MSFT Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/styles.css">





</head>
<body>
	<div class="login">
		<form action="/method1" method="POST" target="_blank">
			<p>Enter close price: </p>
			<input type="number" name="Close Price" placeholder="Close Price">
			<button type="submit" class="btn">Predict</button>


		</form>


		<br>
		<br>
		{{result1}}


	</div>


</body>
</html>